{% load static %}
<nav class="navbar navbar-expand-lg bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="{% url 'home' %}">Pet Care</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            寵物管理
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'pets_list' %}">寵物列表</a></li>
            <li><a class="dropdown-item" href="{% url 'pets_add' %}">新增寵物</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            日常生活
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'care_record_list' %}">日常記錄</a></li>
            <li><a class="dropdown-item" href="{% url 'care_record_create' %}">新增記錄</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            日常開支
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'expense_list' %}">開支列表</a></li>
            <li><a class="dropdown-item" href="{% url 'expense_create' %}">新增開支</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            健康管理
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">
                醫療行事曆（開發中）
              </a>
            </li>
            <li>
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">
                儀表板（開發中）
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            相片管理
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'photo_list' %}">相片列表</a></li>
            <li><a class="dropdown-item" href="{% url 'upload_photos' %}">新增相片</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            公共資訊
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'lost-notices' %}">遺失啟示</a></li>
            <li><a class="dropdown-item" href="{% url 'adoptions' %}">認養公告</a></li>
            <li><a class="dropdown-item" href="{% url 'public-shelters' %}">查收容所</a></li>
            <li><a class="dropdown-item" href="{% url 'animal-protect-units' %}">動保單位</a></li>
          </ul>
        </li>

        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              主人資料
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'user-profile' %}">個人資料</a></li>
              <li><a class="dropdown-item" href="{% url 'password_change' %}">修改密碼</a></li>
            </ul>
          </li>
          <li class="nav-item ms-lg-2">
            <a class="btn btn-primary btn-sm" href="{% url 'logout' %}">登出</a>
          </li>
        {% else %}
          <li class="nav-item ms-lg-2">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'register' %}">註冊</a>            
            <a class="btn btn-outline-primary btn-sm" href="{% url 'login' %}">登入</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
